@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.sec{
    display: flex;
    align-items:center;
    justify-content:space-around;
}
.boardb{
    display:grid;
    grid-template-columns:repeat(3,6rem);
    justify-content:center;
    place-items:center;

}
p{
    font-size: 10rem;
    font-family:'Nunito','sans-serif';
}
.left{
    color:red;
}
.right{
    color:blue;

}